In [ ]:
!pip install ipympl

In [17]:
!jupyter labextension install @jupyter-widgets/jupyterlab-manager jupyter-matplotlib

Building jupyterlab assets (build:prod:minimize)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./stocks/daily/VALE3.csv")

In [3]:
display(df)

            date   open   high    low  close  volume  dividend  split
0     2010-11-25  36.77  37.00  36.58  36.58     858         0      1
1     2010-11-26  36.30  36.45  36.00  36.03    2189         0      1
2     2010-11-29  35.93  36.30  35.61  36.11    3583         0      1
3     2010-11-30  36.03  36.37  35.65  35.67    4513         0      1
4     2010-12-01  36.32  36.97  36.21  36.83    2625         0      1
...          ...    ...    ...    ...    ...     ...       ...    ...
2493  2020-12-22  86.86  86.99  85.43  86.94   23157         0      1
2494  2020-12-23  86.53  87.53  86.40  87.36   17710         0      1
2495  2020-12-28  87.79  88.58  87.08  87.31   26001         0      1
2496  2020-12-29  87.97  88.20  86.51  87.07   19727         0      1
2497  2020-12-30  87.19  87.59  86.65  87.45   30102         0      1

[2498 rows x 8 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2498 non-null   object
 1   open      2498 non-null   float64
 2   high      2498 non-null   float64
 3   low       2498 non-null   float64
 4   close     2498 non-null   float64
 5   volume    2498 non-null   int64
 6   dividend  2498 non-null   int64
 7   split     2498 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 156.2+ KB

In [5]:
df.date = pd.to_datetime(df.date, format='%Y-%m-%d')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2498 non-null   datetime64[ns]
 1   open      2498 non-null   float64
 2   high      2498 non-null   float64
 3   low       2498 non-null   float64
 4   close     2498 non-null   float64
 5   volume    2498 non-null   int64
 6   dividend  2498 non-null   int64
 7   split     2498 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 156.2 KB

In [7]:
%matplotlib widget
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DAILY

In [9]:

fig, ax = plt.subplots()
fig.canvas.capture_scroll = True
fig.canvas.toolbar_visible = True

ax.plot(df.date, df.close)

ax.grid(True)


ax.set_title('PreÃ§o de fechamento de PETR4')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Text(0.5, 1.0, 'PreÃ§o de fechamento de PETR4')